In [2]:
import numpy as np
import matplotlib.pyplot as plt
from collections import Counter

points = {
    "blue": [[2,4], [1,3], [2,3], [3,2], [2,1]],
    "blue": [[5,6], [4,5], [4,6], [6,6], [5,4]]
}

new_point = [3,3]

def euclidean_distance(p, q):
    return np.sqrt(
        np.sum(
            (np.array(p)-np.array(q))**2
        )
    )

In [3]:
class KNearestNeighbors:
    def __init__(self, k=3):
        self.k = k
        self.point = None
    
    def fit(self, points):
        self.points = points
    
    def predict(self, new_point):
        distances = []

        for category in self.points:
            for point in self.points[category]:
                distance = euclidean_distance(point, new_point)
                distances.append([distance, category])
        
        categories = [category[1] for category in sorted(distances)[:self.k]]
        result = Counter(categories).most_common(1)[0][0]
        return result
    
clf = KNearestNeighbors()
clf.fit(points=points)
print(clf.predict(new_point=new_point))

blue

In [3]:
import yfinance as yf
df = yf.download("1088.HK", interval='1m')
df

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Datetime,,,,,,
2025-01-27 09:30:00+08:00,31.549999,32.049999,31.549999,32.049999,32.049999,295500
2025-01-27 09:31:00+08:00,32.049999,32.099998,31.900000,31.900000,31.900000,223500
2025-01-27 09:32:00+08:00,31.950001,31.950001,31.799999,31.850000,31.850000,52500
2025-01-27 09:33:00+08:00,31.900000,31.950001,31.750000,31.900000,31.900000,308500
2025-01-27 09:34:00+08:00,31.950001,32.000000,31.799999,32.000000,32.000000,124000
...,...,...,...,...,...,...
2025-01-28 11:55:00+08:00,31.250000,31.299999,31.250000,31.250000,31.250000,4000
2025-01-28 11:56:00+08:00,31.250000,31.250000,31.250000,31.250000,31.250000,8000
2025-01-28 11:57:00+08:00,31.250000,31.350000,31.250000,31.350000,31.350000,135000
2025-01-28 11:58:00+08:00,31.350000,31.350000,31.350000,31.350000,31.350000,0
2025-01-28 11:59:00+08:00,31.350000,31.400000,31.350000,31.350000,31.350000,142000